div.row
    div.col-md-8(class="col-md-offset-2")
        h3.text-center Developpeur VB.NET / Concepteur de base de données
        small
            a(href="http://jca-community.fr/") Jean Claude Aubry / Coiffure du monde
            |2014-2015, Stage, Toulouse
        p Développement d'application web en VB ASP MVC Razor dans le cadre de la refonte du logiciel de gestion et d'aide à la prise de décision chez JCA/Coiffure du monde.
        p Conception de la nouvelle base de données et mise en place de la stratégie de migration des données.
div.row
    div.col-md-8(class="col-md-offset-2")
        h3.text-center Developpeur C#.NET
        small
            a(href="http://www.aidimpact.com/index.php?lang=fr") Aidimpact
            | 2012-2014, Stage, Toulouse
        p Développement de modules spécifiques en C# s’intégrant dans une solution Winform existante (cartes, gantt, intégration de composants externes).
        p Contribution à l’évolution de l’architecture technique des solutions AidImpact.
        p Développement en C# de Webparts/Workflow/Event Receiver s’intégrant dans une solution basée sur Sharepoint 2010.
        p Développement en C# d'application de génération de documents office (Word, Excel) avec l'utilisation d'Aspose.
        p Maintien en condition opérationnelle et évolutions sur une application Access (Visual Basic).
        p Intégration d'outils de business intelligence dans une application installée (WinForm) à l'aide d'Active Report.
div.row
    div.col-md-8(class="col-md-offset-2")
        h3.text-center Technicien développeur C#.NET
        small
            a(href="http://www.anadiag.fr") Anadiag SA
            | 2012, CDD, Toulouse
        p Développement d'un application de reconnaissance vocale
