div.container-fluid(id="tableSheet")
    div.row
        //table.col-lg-10#tableSheet(class="col-md-offset-1 col-sm-offset-1 col-sm-10"
        div.col-md-10(class="col-md-offset-1")
            div.row
                div.col-md-6
                    div#tile1(class="sheet",style="background-color: #2196f3; display: none")

                        h2.text-center Microsoft
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint
                div.col-md-3
                    div#tile4(class="sheet",style="background-color: #ffc107; display: none")
                        h2.text-center Web
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint

                div.col-md-3
                    div#tile6(class="sheet",style="background-color: #4caf50;display: none")

                        h2.text-center Web
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint

            div.row
                div.col-md-3
                    div#tile2(class="sheet",style="background-color: #8bc34a;display: none")
                        h2.text-center Node.js
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint
                div.col-md-3
                    div#tile3(class="sheet",style="background-color: #f44336;display: none")
                        h2.text-center Web
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint
                div.col-md-6
                    div#tile5(class="sheet",style="background-color: #673ab7;display: none")

                        h2.text-center Autre
                        p.text-center HTML5
                        p.text-center Javascript
                        p.text-center JQuery
                        p.text-center NodeJs
                        p.text-center ASP.NET/Razor
                        p.text-center Sharepoint

