
head
    title= title

    link(href="stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="stylesheets/bootstrap-theme.min.css" rel="stylesheet")

    //link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="stylesheets/persoStyle.css", rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/font-awesome.min.css")

    //-link(href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css")
    link(href="stylesheets/highlight/monokai.css", rel="stylesheet")
    //-link( href='http://fonts.googleapis.com/css?family=Pontano+Sans', rel='stylesheet', type='text/css' )
    link( href='http://fonts.googleapis.com/css?family=Roboto:700', rel='stylesheet', type='text/css' ) 





