doctype html
html
    include includes/head
    body(data-spy="scroll", data-offset="0")

        div#cont.container-fluid()

            include includes/blog/headerBlog
            div#pageContent.container
                    include customPages/Blog

        include includes/pageFooter                                
    include includes/foot
