doctype html
html
    include includes/head
    body(data-spy="scroll", data-offset="0")

        div#cont.container-fluid()

            include includes/pageHeader

            div#pageContent.container
                include customPages/Portfolio 

        include includes/pageFooter                                
    include includes/foot
