div#navbar-main

                div(class="navbar  navbar-static-top entireNavBar", role="navigation")
                    div.container

                        div(class="navbar-collapse collapse navigationBar")
                            

                            //a#navHome.navbar-brand(class="glyphicon glyphicon-tag", href="#")
                                //img(alt="Brand")
                            ul(class="nav navbar-nav navigation")
                                li.btnBrand
                                    //-a(id="homeSandwich", href="http://assie.io")
                                    span
                                li
                                    a.smoothScroll(id="homeLnk" , href="http://assie.io") assie.io
                                li
                                    a(id="blogLnk", href="http://blog.assie.io") blog.assie.io

