//
   Created by romain on 10/08/2014.

head
    title= title
    link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/dashboard.css", rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/font-awesome.min.css")
    link(href="stylesheets/bootstrap-duallistbox.css")
